h3{
    padding: 1px 60px;
}
.hero-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding:20px;
    min-width: 1200px;
    .hero-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    

    img{
        
        width: 100%;
        
        
        
        
    }
    }
}